{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block nav %}
<nav>
  <a href="/">Home</a><br>
  <a href="/about">About</a><br>
  <a href="/contact">Contact Us</a><br>
  <a href="/create_post">Create Post</a><br>
  <a href="/notifications">Notifications</a><br>
  <a href="/upload/">Upload File</a><br>
  <a href="/document-list">Document List</a>
</nav>
{% endblock %}

{% block content %}
  <h1>Blog Posts</h1>
  {% for post in posts %}
    <div>
      <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
      <p>By {{ post.author }} on {{ post.published_date }}</p>
      <p>{{ post.content|truncatewords:30 }}</p>
    </div>
    <hr>
  {% empty %}
    <p>No blog posts yet.</p>
  {% endfor %}
{% endblock %}
